@require '../lib/vars.styl'

global-reset()
typographic()

// Tags {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

*
  box-sizing border-box

body
  background off-white
  color text-black

li
  list-style disc

pre
  font-family mono
  line-height 1.5
  border-radius 3px
  border 1px solid border-gray

a
  color blue
  text-decoration none
  &:hover
    text-decoration underline

strong
  font-weight bold


// }}} END Tags

.App
  composes container from '../lib/common.styl'
  background off-white
