// Typography {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@require 'typographic'

// Typographic defaults, just for reference.
$line-height-ratio  = 1.75
$header-ratio       = $golden
$body-font          = $helvetica
$body-font-weight   = 300
$body-color         = #666
$header-font        = $helvetica
$header-font-weight = 500
$header-color       = #111
$min-font           = 13px
$max-font           = 20px
$min-width          = 600px
$max-width          = 1000px
$vertical-rhythm    = true

// Custom Typographic styling
$line-height-ratio  = 1.5
$body-font-weight   = 400

// }}} END Typography

// Vars {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

mono = Consolas, 'Liberation Mono', Menlo, Courier, monospace

light-gray = #E7E6E4
off-white = #EDEDEF
border-gray = #979797
text-black = #5F5F5F

// }}} END Vars
